<div class="app-container" >
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" [src]="user.avatar" [alt]="user.last_name">
    <div class="card-body">
      <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button (click) = "onClick(user.last_name)" class="btn btn-primary">
        Go somewhere
      </button>

      <a [href] = "user.website" class="btn btn-primary" target="_blank">
        Website
      </a>
    </div>
  </div>
<hr>
    <div style="width: 20rem;">
        <label class="form-label"> Enter comment (two-way binding with ngModel) </label>
        <input class="form-control" [(ngModel)] = "user.comments" /> 
        <span>You commented {{user.comments}}</span>

        <label class="form-label"> Enter comment (two-way binding) </label>
        <input class="form-control"
               [value]="user.commentsnew"
               (input)="handleComments($event)" /> 
        <span>You commented {{user.commentsnew}}</span>
        

    </div>

</div>